<!doctype html>
<html lang="en">
  <head>
    <%= csrf_meta_tags %>
    
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application.tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags %> <!-- Keep this line -->
    <%= javascript_include_tag "application", "data-turbo-track": "reload" %>
<%= javascript_include_tag 'flash_popup', 'data-turbolinks-track': 'reload' %>

    <%= yield :javascript %>
    
    <link href="https://fonts.googleapis.com/css?family=Rubik:400,500,700" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link href="/favicon.ico" rel="icon" type="image/x-icon">
    <title>ValetBike</title>
    <style>

   </style>
 </head>
 
 <body>
    <% flash.each do |key, value| %>
      <div class = "alert alert-<%= key %>"><%= value %></div>
    <% end %>




    <div id="site-container" class="flexbox vertical stretch flex-1">

      <div class="flexbox vertical center">
      <%= render "layouts/header" %>
      <%=yield %>
      <%#= render "layouts/footer" %>
      </div>
    </div>
    <%= render 'shared/flash_popup' %>
 </body>
</html>
